//etapas - códigos

//etapas 1
grid-column-start: 3;
//etapas 2
grid-column-start:5;
//etapas 3
grid-column-end:4;
//etapas 4
grid-column-end:2;
//etapas 5
grid-column-end:5;
//etapas 6
grid-column-start:4;
//etapas 7
grid-column-end:4;
//etapas 8
grid-column-end:6;
//etapas 9
grid-column-start:3
//etapas 10
grid-column: 4/6;
//etapas 11
grid-column: 2/5;
//etapas 12
grid-row-start: 3;
//etapas 13
grid-row: 3/6
flex-direction: row-reverse;
//etapas 14
grid-column: 2/6;
grid-row: 1/6
//etapas 15
order: -3;
//etapas 16
grid-area: 1/2/4/6;
//etapas 17
grid-area: 2/3/5/6;
order:5
//etapas 18
order: 5;
//etapas 19
order:-1;
flex-wrap: wrap;
//etapas 20
grid-template-columns: 50%; 
//etapas 21
grid-template-columns: repeat(8,12.5%);
//etapas 22
grid-template-columns: 100px 3em 40%;
//etapas 23
grid-template-columns: 0.6fr 3fr;
//etapas 24
grid-template-columns: 50px 1fr 1fr 1fr 50px;
//etapas 25
grid-template-columns: 75px 0.6fr 0.4fr;
//etapas 26
grid-template-rows: 0% 0% 0% 50px;
//etapas 27
grid-template: 60% 40% / 200px;
//etapas 28
grid-template: 1fr 50px/ 20% 80%;


